<div class="container" fxLayout="column">
    <table class="w-100-p setup-table" mat-table [dataSource]="dataSource"
        *ngIf="isReady && dataLength; else noRecords">

        <!-- Position Column -->
        <ng-container matColumnDef="no">
            <th class="table-header-text" mat-header-cell *matHeaderCellDef> Sr No. </th>
            <td mat-cell *matCellDef="let i = index"> {{pageValue + i + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container [matColumnDef]="header.prop" *ngFor="let header of headers">
            <th class="table-header-text" mat-header-cell *matHeaderCellDef> {{header.name}} </th>
            <td class="td-align td-padding" mat-cell *matCellDef="let element">
                <ng-container *ngIf="header.concatWith">
                    {{element[header.prop] + ' ' + element[header.concatWith]}}
                </ng-container>
                <ng-container *ngIf="!header.concatWith">
                    {{isTypeObject(element[header.prop]) ? element[header.prop][header.ref] : element[header.prop]}}
                </ng-container>
            </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="actions" *ngIf="!isViewer">
            <th class="table-header-text action-head" mat-header-cell *matHeaderCellDef> Actions </th>
            <td class="action-btn" mat-cell *matCellDef="let element">
                <button *ngIf="!isSimpleList" mat-icon-button (click)="add(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button *ngIf="isSimpleList" mat-icon-button (click)="view(element)">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(element)" *ngIf="isAdmin">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <ng-container *ngIf="pageSize && dataLength">
        <mat-paginator #paginator [length]="dataLength" [pageSize]="pageSize" (page)="setPageFilter($event)"
            showFirstLastButtons></mat-paginator>
    </ng-container>

    <ng-template #noRecords>
        <mat-progress-bar mode="indeterminate" *ngIf="!isReady"></mat-progress-bar>
        <h1 *ngIf="!dataLength && isReady">No Record Found</h1>
    </ng-template>
</div>